/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .Tile {
    animation: Tile-spin 1 2s ease-out;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes Tile-spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(5turn);
  }
}

.Tile {
  background-color: rgb(113, 0, 32);
  width: 8em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Letter {
  color: rgb(239, 199, 0);
}

.TileSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}