.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Tile {
    animation: Tile-spin 1 3.5s ease-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Tile-spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(5turn);
  }
}

.Tile {
  background-color: #8b6342;
  width: 8em;
  height: 8em;
  justify-content: center;
}